.investment-card{
    background:#101B2F;
    color:white;
    border-radius:18px;
    padding:20px;
    margin-top:20px;
}

.investment-card h3{
    color:#F2C94C;
}

.progress{
    margin-top:15px;
    width:100%;
    height:10px;
    background:#263248;
    border-radius:10px;
}

.progress-fill{
    width:70%;
    height:100%;
    background:#2ECC71;
    border-radius:10px;
}
