.topbar{

display:flex;

justify-content:space-between;

align-items:center;

background:#101B2F;

padding:15px 25px;

border-radius:18px;

margin-bottom:25px;

}

.brand h2{

color:#F2C94C;

margin:0;

font-size:22px;

}

.search input{

padding:10px;

width:250px;

border-radius:10px;

border:none;

outline:none;

}

.topbar-right{

display:flex;

align-items:center;

gap:15px;

}

.icon-btn{

background:none;

border:none;

font-size:22px;

cursor:pointer;

}

.profile-photo{

width:45px;

height:45px;

border-radius:50%;

border:2px solid #F2C94C;

}

.logout-btn{

background:#F2C94C;

border:none;

padding:10px 16px;

border-radius:10px;

font-weight:bold;

cursor:pointer;

}
@media(max-width:768px){

.topbar{

flex-direction:column;

gap:15px;

}

.search input{

width:100%;

}

}